<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1032508482648-51vh0huilr4t4esgmigt79e7vi74vdbh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032508482648-51vh0huilr4t4esgmigt79e7vi74vdbh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1032508482648-2b6tuc1n3lja91v8udg6bter3ohqqrn4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBLWQBwW-MrAnVaOyaB_6DRCO6gh5W0INA</string>
	<key>GCM_SENDER_ID</key>
	<string>1032508482648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.twista.egyptfullStore</string>
	<key>PROJECT_ID</key>
	<string>twista-384aa</string>
	<key>STORAGE_BUCKET</key>
	<string>twista-384aa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032508482648:ios:31e271bd34004a981b962d</string>
</dict>
</plist>